---
---

/*  Typography

$title-font: 'Roboto', sans-serif
$body-font: 'Roboto', sans-serif
$code-font: 'Source Code Pro', monospace

$primary-color: black
$secondary-color: #80C9E6
$title-color: black
$text-color:  black

/*  Screen size for responsiveness

$small-screen: 320px
$mid-screen: 585px
$large-screen: 1350px

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
