header
  height: 150px
  .logo
    float: left
    margin: 45px
    font:
      size: 45px
      weight: 700
  nav
    float: right
    margin: 65px 45px 0px 0px
    font:
      size: 25px
      weight: 400
    a
      margin-left: 25px
  a
    text-decoration: none
    color: black
    display: inline-block
