.project-container
  margin: auto
  a
    margin: auto
  .project-unit
    width: 750px
    margin: 0px auto 50px
    height: 350px
    background:
      position: center center
      repeat: no-repeat
      size: cover
