.project-container
  margin: auto
  width: 750px
  a
    margin: auto
    display: inline
  .project-unit
    width: 750px
    margin: 0px auto 100px
    height: 350px
    display: block
    background:
      position: center center
      repeat: no-repeat
      size: cover
    .project-overlay
      height: 100%
      width: 100%
      background-color: white
      opacity: 0
      h2
        margin: 0px
      p
        margin: 0px
        color: black
    &:hover .project-overlay
      opacity: 1
